html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.float-box {
  position: absolute;
  background-color: aliceblue;
  color: black;
  z-index: 1;
  opacity: 0.7;
}

#map {
  height: 100%;
  width:100%;
  position: relative;
  z-index: 0;
}

#search-menu {
  height: 40%;
  width: 25%;
  right: 37.5%;
  top: 30%;
}

#search-icon {
  top: 10%;
  right: 13px;
  border-radius: 200px;
  cursor: pointer;
  width: 7%;
  height: 7%;
  display: none;
}

#title-box {
  top: 13px;
  height: 7%;
  width: 20%;
  left: 13px;
  right: 60%;
  cursor: default;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}

#user-box {
  top: 13px;
  height: 7%;
  width: 7%;
  right: 13px;
  border-radius: 200px;
  cursor: pointer;
}
